<div class="container">
  <div class="row">
    <div>
      <h1>Tips</h1>
      <table>
        <thead>
          <tr>
            <th>Title</th>
            <th>Content</th>
            <th>Image</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @tip.title %></td>
            <td><%= @tip.body %></td>
            <td><%= attachment_image_tag @tip, :image, size: '50x50', format: 'jpeg' %></td>
            <td><%= link_to 'Back', tips_path %></td>
            <td><%= link_to 'Edit', edit_tip_path(@tip.id) %></td>
            <td><%= link_to "Destroy", tip_path(@tip.id), method: :delete, "data-confirm" => "Are you sure？" %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>